.notification{
    color:green;
}

.root-create-pet{
    border: 2px solid gray;
    padding: 5px;
    margin: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}